.lt-content{
  position: relative;
}
.lt-product{
  padding: 10px;
}
.lt-product li{
  float: left;
  width: 33.33%;
}
.lt-product li img{
  display: block;
  width: 100%;
}
/* 商品详情部分 */
.lt-shop{
  padding: 10px;  
}
.lt-shop  a{
  width: 48%;
  float: left;
  text-align: center;
  border: 1px solid #ccc;
  padding-bottom: 10px;
  margin-top: 10px;
  background-color: #fff;
}
.lt-shop a:nth-child(even){
  margin-left: 4%;
}
.lt-shop a img{
  /* display: block; */
  width: 100%;
  height: 100%;
}
.lt-shop a .old-price{
  text-decoration: line-through;
}
.lt-shop a .price{
  color: red
}
